@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@layer utilities {
  .b1r {
    border: 1px solid red;
  }
}

:root {
  --base-50: oklch(0.9875 0.0026 106.45);
  --base-100: oklch(0.9695 0.0029 107.46);
  --base-200: oklch(0.9246 0.0036 107.84);
  --base-300: oklch(0.869 0.0042 108.68);
  --base-400: oklch(0.7076 0.0047 109.37);
  --base-500: oklch(0.5532 0.0051 110.87);
  --base-600: oklch(0.4444 0.0049 111.99);
  --base-700: oklch(0.3735 0.0046 111.19);
  --base-800: oklch(0.2709 0.0039 109.99);
  --base-900: oklch(0.2139 0.0036 110.26);
  --base-950: oklch(0.1422 0.0034 109.19);
  --base-1000: oklch(0.0956 0.0031 109.71);

  --primary-50: oklch(0.9743 0.0095 244.3);
  --primary-100: oklch(0.9432 0.0203 244.83);
  --primary-200: oklch(0.8931 0.0416 243.11);
  --primary-300: oklch(0.8201 0.0771 241.79);
  --primary-400: oklch(0.7295 0.1153 244.33);
  --primary-500: oklch(0.6586 0.1339 246.92);
  --primary-600: oklch(0.5701 0.1388 249.75);
  --primary-700: oklch(0.4949 0.1284 250.83);
  --primary-800: oklch(0.4324 0.1053 251.97);
  --primary-900: oklch(0.3859 0.081 252.54);
  --primary-950: oklch(0.2883 0.0546 253.73);
  --primary-1000: oklch(0.2247 0.0371 255.25);

  --secondary-50: oklch(0.9784 0.0167 175.36);
  --secondary-100: oklch(0.9487 0.0516 174.29);
  --secondary-200: oklch(0.9056 0.0952 174.45);
  --secondary-300: oklch(0.8492 0.1352 175.17);
  --secondary-400: oklch(0.7711 0.1521 175.06);
  --secondary-500: oklch(0.7001 0.1515 175.16);
  --secondary-600: oklch(0.5979 0.1284 176.82);
  --secondary-700: oklch(0.5097 0.1045 178.77);
  --secondary-800: oklch(0.4668 0.0845 180.4);
  --secondary-900: oklch(0.3829 0.0683 181.27);
  --secondary-950: oklch(0.2712 0.048 184.2);
  --secondary-1000: oklch(0.1987 0.0347 185.12);

  --background: var(--base-50);
  --foreground: var(--base-800);
  --card: var(--color-white);
  --card-foreground: var(--base-800);
  --popover: var(--color-white);
  --popover-foreground: var(--base-800);
  --primary: var(--primary-800);
  --primary-foreground: var(--color-white);
  --secondary: var(--secondary-800);
  --secondary-foreground: var(--color-white);
  --muted: var(--base-100);
  --muted-foreground: var(--base-600);
  --accent: var(--base-100);
  --accent-foreground: var(--base-800);
  --destructive: oklch(0.577 0.245 27.325);
  --border: var(--base-200);
  --input: var(--base-300);
  --ring: var(--primary-800);
  --chart-1: var(--primary-800);
  --chart-2: var(--secondary-800);
  --chart-3: var(--primary-300);
  --chart-4: var(--secondary-300);
  --chart-5: var(--primary-100);
  --radius: 0.5rem;
  --sidebar: var(--color-white);
  --sidebar-foreground: var(--base-800);
  --sidebar-primary: var(--primary-800);
  --sidebar-primary-foreground: var(--color-white);
  --sidebar-accent: var(--base-50);
  --sidebar-accent-foreground: var(--base-800);
  --sidebar-border: var(--base-200);
  --sidebar-ring: var(--primary-800);
}

.dark {
  --background: var(--base-950);
  --foreground: var(--base-200);
  --card: var(--base-900);
  --card-foreground: var(--base-200);
  --popover: var(--base-900);
  --popover-foreground: var(--base-200);
  --primary: var(--primary-800);
  --primary-foreground: var(--color-white);
  --secondary: var(--secondary-800);
  --secondary-foreground: var(--color-white);
  --muted: var(--base-800);
  --muted-foreground: var(--base-300);
  --accent: var(--base-800);
  --accent-foreground: var(--base-200);
  --destructive: oklch(0.704 0.191 22.216);
  --border: var(--base-800);
  --input: var(--base-700);
  --ring: var(--primary-800);
  --chart-1: var(--primary-800);
  --chart-2: var(--secondary-800);
  --chart-3: var(--primary-300);
  --chart-4: var(--secondary-300);
  --chart-5: var(--primary-100);
  --sidebar: var(--base-900);
  --sidebar-foreground: var(--base-200);
  --sidebar-primary: var(--primary-800);
  --sidebar-primary-foreground: var(--color-white);
  --sidebar-accent: var(--base-800);
  --sidebar-accent-foreground: var(--base-200);
  --sidebar-border: var(--base-800);
  --sidebar-ring: var(--primary-800);
}

@theme inline {
  --color-base-50: var(--base-50);
  --color-base-100: var(--base-100);
  --color-base-200: var(--base-200);
  --color-base-300: var(--base-300);
  --color-base-400: var(--base-400);
  --color-base-500: var(--base-500);
  --color-base-600: var(--base-600);
  --color-base-700: var(--base-700);
  --color-base-800: var(--base-800);
  --color-base-900: var(--base-900);
  --color-base-950: var(--base-950);
  --color-base-1000: var(--base-1000);

  --color-primary-50: var(--primary-50);
  --color-primary-100: var(--primary-100);
  --color-primary-200: var(--primary-200);
  --color-primary-300: var(--primary-300);
  --color-primary-400: var(--primary-400);
  --color-primary-500: var(--primary-500);
  --color-primary-600: var(--primary-600);
  --color-primary-700: var(--primary-700);
  --color-primary-800: var(--primary-800);
  --color-primary-900: var(--primary-900);
  --color-primary-950: var(--primary-950);
  --color-primary-1000: var(--primary-1000);

  --color-secondary-50: var(--secondary-50);
  --color-secondary-100: var(--secondary-100);
  --color-secondary-200: var(--secondary-200);
  --color-secondary-300: var(--secondary-300);
  --color-secondary-400: var(--secondary-400);
  --color-secondary-500: var(--secondary-500);
  --color-secondary-600: var(--secondary-600);
  --color-secondary-700: var(--secondary-700);
  --color-secondary-800: var(--secondary-800);
  --color-secondary-900: var(--secondary-900);
  --color-secondary-950: var(--secondary-950);
  --color-secondary-1000: var(--secondary-1000);

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }
}